.container {
    margin-top: 100px;
    position: relative;
    margin:auto;
    width: 550px;
    margin-bottom: 20px;
}

label, input{
    width: 250px;
    float: left;
    margin-bottom: 10px;
}

br { clear: left }
button { width: 500px;}